@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato:wght@300;400&family=Montserrat&family=Mulish:wght@200;300&family=Poppins:wght@300;400&family=Press+Start+2P&family=Roboto&family=Silkscreen&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

li, a, button{
    font-size: 10px;
    text-decoration: none;
}

.logo{
    width: 30px;
    margin-right: auto;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.01);
    border-bottom: solid 1px rgb(235, 235, 235);
}

.nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav_links li {
    margin-right: 15px;
}

.nav_links li a{
    color: black;
    font-size: 12px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
    color: black;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logoBelanja{
    padding-left: 15px;
    cursor: pointer;
}


.btn_logout{
    border: none;
    padding: 4px;
    margin-left: 20px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #FFA33C;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_logout:active {
    transform: scale(0.95);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.judul{
    border-bottom: solid 1px rgb(223, 223, 223);
}

.img {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    overflow: hidden;
    object-fit: cover;
}

.vertikal {
    display: grid;   
}

.size1{
    width: 650px;
    height: 450px;
    border-radius: 10px;
}

.size3{
    margin-top: 10px;
}

.size2, .size3 {
    height: 220px;
    border-radius: 10px;
}

h3{
    font-size: 25px;
}

.alamat{
    font-size: 12px;
    margin-top: 2px;
    margin-left: 10px;
    color: rgb(151, 151, 151);
}

.location {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.location span {
    margin-right: 2px;
}

.icon_lapangan{
    display: flex;
    align-items: center;
    margin-top: 20px;   
    background-color: #FFA33C;
    padding: 5px;
    border-radius: 4px;
    width: 80px;
    margin-bottom: 25px;
}

.icon_lapangan span{
    margin-right: 5px;
}

.info_fasilitas{
    margin-top: 10px;
}

.fasilitas{
    display: flex;
    margin-top: 25px;
}

.parkiran{
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.detail_parkiran{
    margin-left: 20px;
}
.batas2{
    border-right: 1px solid rgb(227, 227, 227);
    padding-left: 10px;
    margin-left: 30px;
}

.batas3{
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-top: 10px;
    margin-top: 10px;
}

.icon_parkiran{
    display: flex;
    margin-top: 20px;
}

.icon_parkiran p{
    margin-left: 10px;
}